In [4]:
import keras
import pandas as pd
import numpy as np
import tensorflow as tf
from sklearn.model_selection import GridSearchCV
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [6]:
train = pd.read_csv("./../data/monks-1.train", header=None, sep=" ")
test = pd.read_csv("./../data/monks-1.test", header=None, sep=" ")

train.drop(0, axis=1, inplace=True)
test.drop(0, axis=1, inplace=True)

In [7]:
train.info()
train.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 124 entries, 0 to 123
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   1       124 non-null    int64
 1   2       124 non-null    int64
 2   3       124 non-null    int64
 3   4       124 non-null    int64
 4   5       124 non-null    int64
 5   6       124 non-null    int64
 6   7       124 non-null    int64
 7   8       124 non-null    object
dtypes: int64(7), object(1)
memory usage: 7.9+ KB

   1  2  3  4  5  6  7        8
0  1  1  1  1  1  3  1   data_5
1  1  1  1  1  1  3  2   data_6
2  1  1  1  1  3  2  1  data_19
3  1  1  1  1  3  3  2  data_22
4  1  1  1  2  1  2  1  data_27

In [15]:
test.info()
test.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 432 entries, 0 to 431
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   1       432 non-null    int64
 1   2       432 non-null    int64
 2   3       432 non-null    int64
 3   4       432 non-null    int64
 4   5       432 non-null    int64
 5   6       432 non-null    int64
 6   7       432 non-null    int64
 7   8       432 non-null    object
dtypes: int64(7), object(1)
memory usage: 27.1+ KB

   1  2  3  4  5  6  7        8
0  1  1  1  1  1  1  1   data_1
1  1  1  1  1  1  1  2   data_2
2  1  1  1  1  1  2  1   data_3
3  1  1  1  1  1  2  2   data_4
4  1  1  1  1  1  3  1   data_5
5  1  1  1  1  1  3  2   data_6
6  1  1  1  1  1  4  1   data_7
7  1  1  1  1  1  4  2   data_8
8  1  1  1  1  2  1  1   data_9
9  1  1  1  1  2  1  2  data_10

In [16]:
y_train = train.iloc[:, 0].to_numpy()
x_train = train.iloc[:, 1:].to_numpy()
y_test = test.iloc[:, 0].to_numpy()
x_test = test.iloc[:, 1:].to_numpy()

print(x_train.shape, y_train.shape)
print(x_test.shape, y_test.shape)

(124, 7) (124,)
(432, 7) (432,)
<class 'numpy.ndarray'>

In [10]:
model = Sequential()
model.add(Dense(5, input_dim=7, activation="relu"))
model.add(Dense(1, activation="sigmoid"))

2022-11-14 15:18:13.168116: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:980] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2022-11-14 15:18:14.234872: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcudnn.so.8'; dlerror: libcudnn.so.8: cannot open shared object file: No such file or directory
2022-11-14 15:18:14.234944: W tensorflow/core/common_runtime/gpu/gpu_device.cc:1934] Cannot dlopen some GPU libraries. Please make sure the missing libraries mentioned above are installed properly if you would like to use GPU. Follow the guide at https://www.tensorflow.org/install/gpu for how to download and setup the required libraries for your platform.
Skipping registering GPU devices...
2022-11-14 15:18:14.270702: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [11]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 5)                 40

 dense_1 (Dense)             (None, 1)                 6

=================================================================
Total params: 46
Trainable params: 46
Non-trainable params: 0
_________________________________________________________________

In [12]:
model.compile(loss='mse', optimizer='adam', metrics=['accuracy'])
model.fit(x_train, y_train, epochs=150, batch_size=10)

ValueError: Failed to convert a NumPy array to a Tensor (Unsupported object type int).

In [ ]:
_, accuracy = model.evaluate(x_train, y_train)
print('Accuracy: %.2f' % (accuracy*100))